/* /* Configuramos lo basico de un archivo CSS: */

    /* - Primero las tipografias */

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

    /* - Segundo iconos */

    @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
    @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");
    

    /* - Tercero estilos generales */

    h1,h2,h3,h4,h5,h6 {
        font-family: "Montserrat", sans-serif;
    }

    p,a,button,li,label,input,select,textarea,span {
        font-family: "Raleway", sans-serif;
    }

    body {
    overflow-x: hidden;
    }


    /* - Cuarto variables */

    :root {
        --prymari-color: #e58411;
        --gray-color: #f7f7f7;
        --white-color: #fff;
        --dark-color: #1e1e1e;
        --fs-tittle1: 80px;
        --fs-tittle2: 42px;
        --fs-tittle3: 24px;
        --fs-tittle4: 18px;
        --fs-text: 16px;
    }

    /* - Quinto Destkop */

    header {
        width: 100%;
        padding-top: 40px;
        position: relative;
        height: 180vh;
        background: url(../img/Rectangle\ 1441.png);
        background-size: cover;
        /* background-position: center; */
        background-position-x: center;
        background-position-y: bottom;
    }
    
    .bg-transparente {
        background: transparent;
    }

    header nav a.logo {
        color: var(--white-color);
        font-weight: 700;
        font-size: 28px;
    }

    header nav a.logo:hover {
        color: var(--white-color);
        transform: scale(1.2);
        transition: .5s;
    }

    #navbarNav li a { 
        color: var(--white-color);
        font-size: var(--fs-text);
        margin: 0 15px;
        padding: 10px;
        border-bottom: 1px solid transparent;
        transition: .5s;
    }

    #navbarNav li a:hover {
        border-bottom: 1px solid var(--white-color);
    }

    header .bag-button {
        background: transparent;
        border: none;
        color: var(--white-color);
        font-size: 30px;
        position: relative;
    }

    header .bag-button .counter-products{
        border-radius: 50%;
        width: 26px;
        height: 26px;
        background: var(--prymari-color);
        font-size: var(--fs-text);
        color: var(--white-color);
        position: absolute;
        bottom: 0px;
        right: -6px;
    }

    #hero {
        width: 100%;
        text-align: center;
        padding: 90px 100px;
    }

    #hero h2 {
        font-size: var(--fs-tittle1);
        color: var(--white-color);
        font-weight: 700;
    }

    #hero p {
        color: var(--white-color);
        font-size: var(--fs-tittle3);
        padding: 40px 200px;
    }

    #hero form {
        width: 400px;
        position: relative;
        margin: 0 auto;
    }

    #hero form input{
        color: var(--white-color);
        border-radius: 40px;
        padding: 15px 58px 15px 20px;
        font-size: var(--fs-tittle4);
        width: 370px;
        border: 2px solid var(--white-color);
        background: #ffffff4b;
        outline: none;
    }

    #hero form input::placeholder {
        color: var(--white-color);
    }

    #hero form button {
        width: 40px;
        height: 40px;
        background: var(--prymari-color);
        border-radius: 50%;
        color: var(--white-color);
        border: none;
        position: absolute;
        right: 6%;
        top: 16%;
    }

/* Estilos main */

    /* Estilos Chossing-us */

    #choosing-us {
        width: 100%;
        position: relative;
        background: var(--white-color);
        padding: 120px 0;
    }

    #choosing-us h2 {
        font-weight: 700;
        font-size: 38px;
        color: var(--dark-color);
        padding-top: 22px;
    }

    #choosing-us h3 {
        font-size: 22px;
        font-weight: 700;
        color: var(--dark-color);
    }

    #choosing-us p {
        font-size: var(--fs-text);
        color: var(--dark-color);
        margin-top: 20px ;
    }

    #choosing-us a {
        text-decoration: none;
        color: var(--prymari-color);
    }

    #choosing-us a i {
        margin-left: 4px;
        transition: .5s;
    }

    #choosing-us a:hover i {
        margin-left: 15px;
    }

    /* Estilos product */

    #product {
        background: var(--gray-color);
        padding: 50px 0;
        width: 100%;
        position: relative;
        text-align: center;
    }

    #procuct h2 {
        font-size: var(--fs-tittle2);
        font-weight: 700;
        color: var(--dark-color);
        margin-bottom: 40px;
    }

    #product ul {
        width: 420px;
        margin: 0 auto;
        background: #eeeeee;
        padding: 7px;
        border-radius: 40px;
        justify-content: space-between;
    }

    #product li button {
        color: var(--dark-color);
        padding: 10px 30px;
        border: none;
    }

    #product li button.active {
        background: var(--white-color); 
        border-radius: 30px; /*arreglar*/
        border: none;
    }

    #product li button:hover {
        border: none;
    }

    #product .card-product {
        margin: 0 15px !important;

    }

    #product .cont-img {
        background: #e6e6e6;
        position: relative;
        width: 100%;
        min-height: 220px;
        border-radius: 20px 20px 0 0;
    }

    #product .cont-img img {
        width: 220px;
        position: absolute;
        top: -70px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    #product .slick-list {
        padding: 150px 0;
    }

    #product .cont-info {
        background: var(--white-color);
        text-align: left;
        padding: 20px;
        border-radius: 0 0 20px 20px;
    }

    #product .cont-info .category {
        font-size: var(--fs-text);
        color: #8d8d8d;
    }

    #product .cont-info h3 {
        font-weight: 700;
        font-size: 20px;
    }

    #product .star i {
        color: #f6b76f;
    }

    #product .star {
        margin-bottom: 30px;
    }

    #product .card-product h4{
        font-size: var(--fs-tittle3);
        font-weight: 600;
        display: flex;
        margin: 0;
    }

    #product .card-product h4 span{
        font-size: 15px;
    }

    #product .card-product button {
        background: #0D1B39;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        color: var(--white-color);
        font-size: 30px;
        border: none;
    }

    #product .slick-arrow {
        background: var(--white-color);
        width: 50px;
        height: 50px;
        z-index: 99;
        border-radius: 50%;
        color: #0D1B39;
        border: 1px solid #dbdada;
    }

        #product .slick-arrow::before {
            color: #0D1B39;
        }

        #experiences {
            width: 100%;
            position: relative;
            padding: 140px 0;
        }

        #experiences .cont-img {
            position: relative;
            left: -20px;
        }

        #experiences .cont-img::before {
            content: "";
            width: 300px;
            height: 400px;
            background: #f7f7f7;
            position: absolute;
            z-index: -1;
            top: -60px;
            border-radius: 20px;
        }

        #experiences .cont-img::after {
            content: "";
            width: 400px;
            height: 300px;
            background: #f7f7f7;
            position: absolute;
            z-index: -2;
            right: 80px;
            top: 100px;
            border-radius: 20px;
        }

        #experiences .cont-img img {
            box-shadow: -13px 9px 20px 0px #ba8c57;
        }

        #experiences .cont-info {
            padding: 90px 50px 0 0;
        }

        #experiences .cont-info h3 {
            color: var(--prymari-color);
            text-transform: uppercase;
            font-size: var(--fs-tittle4);
        }

        #experiences .cont-info h2 {
            font-size: var(--fs-tittle2);
            color: var(--dark-color);
            font-weight: 700;
            width: 480px;
        }

        #experiences .cont-info p {
            font-size: var(--fs-text);
            color: var(--dark-color);
            margin-top: 20px;
        }

        #experiences .cont-info a {
            text-decoration: none;
            color: var(--prymari-color);
        }

        #experiences .cont-info i {
            margin-left: 4px;
            transition: .5s;
        }

        #experiences .cont-info a:hover i {
            margin-left: 15px;
        }

        #materials .imagen-2 img {
            position: relative;
            left: 55px;
            bottom: -150px;
        }

        #materials .imagen-2::before {
            content: "";
            width: 400px;
            height: 300px;
            background: #f7f7f7;
            position: absolute;
            z-index: -1;
            top: 4080px;
            right: -10px;
            border-radius: 20px;
        }

        #materials .imagen-2 img {
            box-shadow: 0px 12px 19px -10px #af7d43;
        }

        #materials .cont-img-1 {
            position: relative;
            left: 50px;
        }

        #materials .cont-img-1 img{
            margin: 20px 40px 10px 0;
            border-radius: 15px;
        }

        #materials .cont-img-1 img {
            box-shadow: 0px 13px 19px -10px #9f978e;
        }

        #materials .cont-info {
            padding: 180px 70px 90px 50px;
        }

        #materials .cont-info h3 {
            color: var(--prymari-color);
            text-transform: uppercase;
            font-size: var(--fs-tittle4);
        }

        #materials .cont-info h2 {
            font-size: var(--fs-tittle2);
            color: var(--dark-color);
            font-weight: 700;
            width: 480px;
        }

        #materials .cont-info p {
            font-size: var(--fs-text);
            color: var(--dark-color);
            margin-top: 20px;
        }

        #materials .cont-info a {
            text-decoration: none;
            color: var(--prymari-color);
        }

        #materials .cont-info i {
            margin-left: 4px;
            transition: .5s;
        }

        #materials .cont-info a:hover i {
            margin-left: 15px;
        }

        #reviews {
            width: 100%;
            position: relative;
            padding: 90px 0;
            text-align: center;
        }


        #reviews h3 {
            color: var(--primary-color);
            font-size: var(--fs-title4);
            text-transform: uppercase;
            padding-top: 170px;
            letter-spacing: 2px;
        }

        #reviews h2 {
            font-weight: 700;
            font-size: var(--fs-title2);
            color: var(--dark-color);
            margin-bottom: 65px;
            padding-top: 25px;
            text-transform: capitalize;
        }


        #reviews .card-review {
            position: relative;
        }

        #reviews .card-review .cont-infos {
            background: var(--white-color);
            position: absolute;
            width: 79%;
            bottom: 20px;
            border-radius: 30px;
            left: 10%;
            padding-bottom: 20px;
            padding-top: 50px;
            padding-left: 30px;
            padding-right: 20px;
        }


        #reviews .card-review .cont-infos img {
            position: absolute;
            top: -35px;
            margin: 0 auto;
            left: 0;
            right: 0;
            border: 10px solid var(--white-color);
            border-radius: 50%;
        }

        #reviews .card-review .cont-infos h4 {
            font-size: var(--fs-title4);
            color: var(--dark-color);
            margin-bottom: 10px;
            font-weight: 700;
        }

        #reviews .card-review .cont-infos h5 {
            font-size: 12px;
            color: var(--dark-color);
            color: #666;
            margin-bottom: 20px;
            font-weight: 300;
        }

        #reviews .card-review .stars i {
            color: #F6973F;
        }

        #reviews .card-review .stars i:nth-child(5) {
            opacity: 0.5;
        }


        #reviews .slick-slide {
            display: flex;
            justify-content: center;
        }


        #reviews .card-review .cont-infos p {
            color: var(--dark-color);
            font-size: 14px;
        }


        #reviews .slick-arrow {
            background: var(--white-color);
            border: 1px solid #dbdada;
            width: 50px;
            height: 50px;
            padding-top: 5px;
            z-index: 999;
            border-radius: 50%;
            color: #0D1B39;
            position: absolute;
        }

        #reviews .slick-arrow::before {
            color: #0D1B39;
        }


        footer {
            width: 100%;
            background: #f7f7f7;
            position: relative;
        }

        footer .cont-info {
            padding: 80px 50px;
        }

        footer .logo {
            font-size: 28px;
            color: var(--dark-color);
            text-decoration: none;
            font-weight: 700;
            display: inline-block;
            margin-bottom: 15px;
        }

        footer p {
            color: #555;
            font-size: 15px;
            margin: 0;
            padding-right: 30px;
        }

        footer h3 {
            color: #f77f00;
            /* naranja */
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 15px;
        }

        footer .col-footer a {
            display: block;
            text-decoration: none;
            font-size: 15px;
            color: var(--dark-color);
            margin-bottom: 10px;
            transition: 0.3s;
        }

        footer .col-footer a:hover {
            color: #f77f00;
        }

        footer ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        footer ul li {
            margin-bottom: 12px;
            display: flex;
            align-items: center;
        }

        footer ul li i {
            margin-right: 10px;
            font-size: 20px;
            color: var(--dark-color);
            margin-top: -12px;
        }

        footer .footer-bottom {
            border-top: 1px solid transparent;
            /* para dar separación */
            padding-top: 80px;
            font-size: 14px;
        }

        footer .copy {
            color: #888;
        }

        footer .footer-bottom a {
            color: var(--dark-color);
            text-decoration: none;
            font-size: 14px;
            margin-left: 20px;
            transition: 0.3s;
        }

        footer .footer-bottom a:hover {
            color: #f77f00;
        }


        /* - Sexto estilos responsive Tablets  */ 

        @media screen and (min-width:768px) and (max-width:1080px){

        /* HEADER */

        header {
            height: auto;
            /* mejor que 170vh en tablet */
            padding: 30px 20px;
            background-position: center;
        }

        #hero {
            padding: 60px 80px;
        }

        #hero h2 {
            font-size: var(--fs-title2);
        }

        #hero p {
            padding: 20px 60px;
            font-size: var(--fs-title4);
        }

        #hero form {
            width: 100%;
            max-width: 320px;
        }

        #hero form input {
            width: 100%;
            font-size: 16px;
        }

        #hero form button {
            right: 5%;
            top: 22%;
        }

        /* CHOOSING US */
        #choosing-us {
            padding: 80px 20px;
            text-align: center;
        }

        #choosing-us .tablet {
            padding-top: 50px;
        }

        #choosing-us h2 {
            font-size: var(--fs-title3);
        }

        #choosing-us p {
            font-size: var(--fs-text);
            padding: 0 20px;
        }

        /* PRODUCTS */
        #products ul {
            width: 90%;
            max-width: 440px;
        }

        #products .slick-arrow {
            padding-top: 4px;
        }



        #products .cont-img img {
            width: 160px;
            top: -50px;
        }

        #products .slick-list {
            padding: 120px 0;
        }

        /* EXPERIENCES */
        #experiences {
            padding: 100px 20px;
        }

        #experiences .cont-img img {

            width: 105%;
            margin-left: -12px;

        }


        #experiences .cont-img::before {
            width: 300px;
            height: 100px;
            background: #f7f7f7;
            position: absolute;
            top: -30px;
            margin-left: -25px;
        }



        #experiences .cont-img::after {
            width: 100px;
            height: 220px;
            background: #f7f7f7;
            position: absolute;
            right: -19px;
            top: 36px;
        }

        #experiences .cont-info {
            padding: 20px;
        }

        #experiences .cont-info h2 {

            font-size: var(--fs-title3);

        }

        #experiences .cont-info h2,
        #experiences .cont-info p {
            width: 100%;
        }

        /* MATERIALS */
        #materials {
            padding: 80px 20px;
            display: flex;
            align-items: center;
            /* centra verticalmente */
            justify-content: space-between;
            /* separa izquierda y derecha */
        }

        #materials .cont-info {
            padding: 0;
        }


        #materials .cont-info h2 {
            font-size: var(--fs-title3);
        }

        #materials .cont-info h2,
        #materials .cont-info p {
            width: 100%;
            padding-right: 42px;
        }

        #materials .cont-info h3 {
            padding-top: 100px;
        }

        #materials .imagen-2 img {
            max-width: 90%;
            bottom: -200px;
            left: 80px;
            position: relative;
        }

        #materials .imagen-2::before {
            width: 143px;
            height: 58px;
            position: absolute;
            bottom: 300px;
            right: 0px;
            border-radius: 20px 0;
            background: #f7f7f7;
        }

        #materials .cont-img-1 img {
            max-width: 140%;
        }

        /* REVIEWS */
        #reviews {
            padding: 100px 20px;
        }

        #reviews h2 {
            font-size: var(--fs-title3);
        }

        #reviews .card-review .cont-infos {
            width: 85%;
            left: 7%;
        }

        #reviews h3 {
            padding-top: 50px;
        }

        #reviews .card-review {
            overflow: hidden;
        }

        #reviews .card-review .fondo {
            width: 100%;
            padding: 10px;
        }

        /* FOOTER */
        footer .cont-info {
            padding: 60px 20px;
        }

        footer .col-footer {
            margin-bottom: 20px;
        }

        footer .footer-bottom {
            padding-top: 40px;
            text-align: center;
        }

        footer .footer-bottom a {
            display: inline-block;
            margin: 5px 10px;
        }

    }

        /* - Septimo estilos responsive Smartphone */

        @media screen and (min-width:320px) and (max-width:767px){
        
        header {
            height: auto;
            /* que no quede demasiado alto */
            padding: 20px;
            background-position: center;
        }

        header nav .logo {
            font-size: 22px;
        }

        #navbarNav li a {
            margin: 5px 0;
            padding: 8px;
            font-size: 14px;
            display: block;
            /* que se apilen */
        }

        #hero {
            padding: 60px 20px;
        }

        #hero h2 {
            font-size: 24px;
        }

        #hero p {
            font-size: 14px;
            padding: 20px 10px;
        }

        #hero form {
            width: 100%;
        }

        #hero form input {
            width: 100%;
            font-size: 14px;
        }

        /* SECCIÓN CHOOSING US */
        #choosing-us {
            padding: 60px 20px;
        }

        #choosing-us h2 {
            font-size: 28px;
        }

        #choosing-us h3 {
            font-size: var(--fs-title4);
            padding-top: 40px;
        }

        #choosing-us p {
            font-size: 14px;
        }


        /* SECCIÓN PRODUCTS */

        #products {
            padding: 60px 20px;
        }

        #products .slick-list {
            padding: 130px 0;
        }

        #products h2 {
            font-size: 28px;
        }

        #products ul {
            width: 80%;
        }

        #products .card-product {
            margin: 0 30px !important;
        }

        #products .slick-arrow {
            margin: 0 30px 0 30px;
        }

        #products .slick-arrow {
            padding-top: 5px;
        }

        #products li button {
            padding: 8px 15px;
            font-size: 14px;
        }



        #products .cont-img img {
            width: 200px;
            top: -50px;
        }

        #products .card-product h4 {
            font-size: var(--fs-title3);
        }

        /* EXPERIENCES */
        #experiences {
            padding: 100px 20px;
        }

        #experiences .cont-img {
            left: -32px;
            margin-bottom: 70px;
        }

        #experiences .cont-img img {
            width: 100%;
        }

        #experiences .cont-img::before {
            width: 260px;
            height: 200px;
            position: absolute;
            top: -30px;
            border-radius: 0 20px;
        }

        #experiences .cont-img::after {
            width: 100px;
            height: 190px;
            position: absolute;
            right: -15px;
            top: 40px;
        }

        #experiences .cont-info {
            padding: 0;
        }

        #experiences .cont-info h2 {
            font-size: 28px;
        }

        #experiences .cont-info h2,
        #experiences .cont-info p {
            width: 100%;
        }

        /* MATERIALS */
        #materials {
            padding: 60px 20px;
            text-align: center;
        }

        #materials .cont-info {
            padding: 20px 0;
            display: flex;
            flex-wrap: wrap;
        }

        #materials .cont-info h2 {
            font-size: 28px;
            display: flex;
            flex-wrap: wrap;
        }

        #materials .cont-info h2,
        #materials .cont-info p {
            width: 100%;
            padding-right: 0;
            text-align: left;
        }

        #materials .cont-info h3 {
            padding-top: 0;
        }

        #materials .row {
            display: flex;
            flex-wrap: wrap;
        }

        #materials .imagen-2 img {
            top: 20px;
            left: auto;
            bottom: auto;
            width: 55%;
            border-radius: 15px;
        }

        #materials .imagen-2 img {
            box-shadow: 0px 16px 19px -10px #af7d43;
        }

        #materials .imagen-2::before {
            display: none;
        }

        /* REVIEWS */
    

        #products ul {
            width: 80%;
        }

        #products .card-product {
            margin: 0 30px !important;
        }

        #products .slick-arrow {
            margin: 0 30px 0 30px;
        }


        #reviews {
            padding: 60px 20px;
        }

        #reviews h3 {
            padding-top: 20px;
            font-size: 18px;
        }

        #reviews h2 {
            font-size: 28px;
            margin-bottom: 40px;
        }

            #reviews .card-review .fondo {
            width: 100%;
            padding: 10px;

        }

        #reviews .card-review {
            margin: 0 30px !important;
        }

        #reviews .card-review .cont-infos {
            width: 90%;
            left: 5%;
            padding: 40px 20px 20px;
        }

        /* FOOTER */
        footer .cont-info {
            padding: 40px 20px;
            text-align: center;
        }

        footer p {
            padding-right: 0;
            font-size: 14px;
        }

        footer .logo {
            font-size: 22px;
        }

        footer ul li {
            justify-content: center;
        }

        footer .footer-bottom {
            padding-top: 40px;
            font-size: 12px;
            text-align: center;
        }

        footer .footer-bottom a {
            margin: 0 10px;
            font-size: 12px;
        }

}
