/* /* Configuramos lo basico de un archivo CSS: */

    /* - Primero las tipografias */

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

    /* - Segundo iconos */

    @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
    @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");
    

    /* - Tercero estilos generales */

    h1,h2,h3,h4,h5,h6 {
        font-family: "Montserrat", sans-serif;
    }

    p,a,button,li,label,input,select,textarea,span {
        font-family: "Raleway", sans-serif;
    }

    /* - Cuarto variables */

    :root {
        --prymari-color: #e58411;
        --gray-color: #f7f7f7;
        --white-color: #fff;
        --dark-color: #1e1e1e;
        --fs-tittle1: 80px;
        --fs-tittle2: 42px;
        --fs-tittle3: 24px;
        --fs-tittle4: 18px;
        --fs-text: 16px;
    }

    /* - Quinto Destkop */

    header {
        width: 100%;
        padding-top: 40px;
        position: relative;
        height: 180vh;
        background: url(../img/Rectangle\ 1441.png);
        background-size: cover;
        /* background-position: center; */
        background-position-x: center;
        background-position-y: bottom;
    }
    
    .bg-transparente {
        background: transparent;
    }

    header nav a.logo {
        color: var(--white-color);
        font-weight: 700;
        font-size: 28px;
    }

    header nav a.logo:hover {
        color: var(--white-color);
        transform: scale(1.2);
        transition: .5s;
    }

    #navbarNav li a { 
        color: var(--white-color);
        font-size: var(--fs-text);
        margin: 0 15px;
        padding: 10px;
        border-bottom: 1px solid transparent;
        transition: .5s;
    }

    #navbarNav li a:hover {
        border-bottom: 1px solid var(--white-color);
    }

    header .bag-button {
        background: transparent;
        border: none;
        color: var(--white-color);
        font-size: 30px;
        position: relative;
    }

    header .bag-button .counter-products{
        border-radius: 50%;
        width: 26px;
        height: 26px;
        background: var(--prymari-color);
        font-size: var(--fs-text);
        color: var(--white-color);
        position: absolute;
        bottom: 0px;
        right: -6px;
    }

    #hero {
        width: 100%;
        text-align: center;
        padding: 90px 100px;
    }

    #hero h2 {
        font-size: var(--fs-tittle1);
        color: var(--white-color);
        font-weight: 700;
    }

    #hero p {
        color: var(--white-color);
        font-size: var(--fs-tittle3);
        padding: 40px 200px;
    }

    #hero form {
        width: 400px;
        position: relative;
        margin: 0 auto;
    }

    #hero form input{
        color: var(--white-color);
        border-radius: 40px;
        padding: 15px 58px 15px 20px;
        font-size: var(--fs-tittle4);
        width: 370px;
        border: 2px solid var(--white-color);
        background: #ffffff4b;
        outline: none;
    }

    #hero form input::placeholder {
        color: var(--white-color);
    }

    #hero form button {
        width: 40px;
        height: 40px;
        background: var(--prymari-color);
        border-radius: 50%;
        color: var(--white-color);
        border: none;
        position: absolute;
        right: 6%;
        top: 16%;
    }

/* Estilos main */

    /* Estilos Chossing-us */

    #choosing-us {
        width: 100%;
        position: relative;
        background: var(--white-color);
        padding: 120px 0;
    }

    #choosing-us h2 {
        font-weight: 700;
        font-size: 38px;
        color: var(--dark-color);
        padding-top: 22px;
    }

    #choosing-us h3 {
        font-size: 22px;
        font-weight: 700;
        color: var(--dark-color);
    }

    #choosing-us p {
        font-size: var(--fs-text);
        color: var(--dark-color);
        margin-top: 20px ;
    }

    #choosing-us a {
        text-decoration: none;
        color: var(--prymari-color);
    }

    #choosing-us a i {
        margin-left: 4px;
        transition: .5s;
    }

    #choosing-us a:hover i {
        margin-left: 15px;
    }

    /* Estilos product */

    #product {
        background: var(--gray-color);
        padding: 50px 0;
        width: 100%;
        position: relative;
        text-align: center;
    }

    #procuct h2 {
        font-size: var(--fs-tittle2);
        font-weight: 700;
        color: var(--dark-color);
        margin-bottom: 40px;
    }

    #product ul {
        width: 420px;
        margin: 0 auto;
        background: #eeeeee;
        padding: 7px;
        border-radius: 40px;
        justify-content: space-between;
    }

    #product li button {
        color: var(--dark-color);
        padding: 10px 30px;
        border: none;
    }

    #product li button.active {
        background: var(--white-color); 
        border-radius: 30px; /*arreglar*/
        border: none;
    }

    #product li button:hover {
        border: none;
    }

    #product .card-product {
        margin: 0 15px !important;

    }

    #product .cont-img {
        background: #e6e6e6;
        position: relative;
        width: 100%;
        min-height: 220px;
        border-radius: 20px 20px 0 0;
    }

    #product .cont-img img {
        width: 220px;
        position: absolute;
        top: -70px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    #product .slick-list {
        padding: 150px 0;
    }

    #product .cont-info {
        background: var(--white-color);
        text-align: left;
        padding: 20px;
        border-radius: 0 0 20px 20px;
    }

    #product .cont-info .category {
        font-size: var(--fs-text);
        color: #8d8d8d;
    }

    #product .cont-info h3 {
        font-weight: 700;
        font-size: 20px;
    }

    #product .star i {
        color: #f6b76f;
    }

    #product .star {
        margin-bottom: 30px;
    }

    #product .card-product h4{
        font-size: var(--fs-tittle3);
        font-weight: 600;
        display: flex;
        margin: 0;
    }

    #product .card-product h4 span{
        font-size: 15px;
    }

    #product .card-product button {
        background: #0D1B39;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        color: var(--white-color);
        font-size: 30px;
        border: none;
    }

    #product .slick-arrow {
        background: var(--white-color);
        width: 50px;
        height: 50px;
        z-index: 99;
        border-radius: 50%;
        color: #0D1B39;
        border: 1px solid #dbdada;
    }

        #product .slick-arrow::before {
            color: #0D1B39;
        }

    /* - Sexto estilos responsive Tablets  */ 

    @media screen and (min-width:768px) and (max-width:1080px){

    }

    /* - Septimo estilos responsive Smartphone */

    @media screen and (min-width:320px) and (max-width:767px){
        
    }
